class {
  onCreate() {
    this.state = {
      count: 0
    }
    console.log("onCreate()")
  }

  onMount() {
    console.log("onMount()");
  }

  increment() {
    this.state.count++;
    console.log("increment()");
  }
}

<div>The current count is ${state.count}</div>
<button on-click("increment")>Click me!</button>